[Unit]
Description=Independently check Ezkart operations heartbeats every minute

[Timer]
OnCalendar=*-*-* *:*:00
Persistent=true
AccuracySec=5s
Unit=ezkart-watchdog.service

[Install]
WantedBy=timers.target
